.home-wrapper {
  height: 100vh;
  border: 1px solid #23272a;
  background: #23272a;
}
.home-title {
  color: hsl(235, 86%, 65%);
}

p {
  color: white;
}

.input-label {
  color: white;
}

.input-form {
  width: 20vw;
  margin: 0 auto;
  padding-bottom: 5vh;
}
