.page-wrapper {
  background-color: blue;
}

.quiz-row {
  white-space: nowrap;
  overflow-x: auto;
  height: 50vh;

  border: 1px solid red;
  margin-bottom: 50px;
}

.card {
  /* border: 1px solid blue; */
  width: 202px;

  display: inline-block;
  height: 100%;

  margin: 0 10px 0 10px;
}

.card:hover {
  opacity: 80%;
  transition: 0.2s ease-out;
}
